<IfModule mod_rewrite.c>
    ErrorDocument 404 /404.php
    RewriteBase /assignment2/
    RewriteEngine on
    RewriteRule ^\.htaccess$ - [F]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]
</IfModule>