/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: exo;
  src: url(../fonts/Exo2.0-Light.otf); }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #fdfdfd;
  font-family: "exo", "Arial", sans-serif; }
  body .header_container {
    z-index: 100;
    width: 100%;
    background-color: #000;
    text-align: center;
    position: fixed;
    top: 0; }
    body .header_container .header {
      height: 80px;
      width: 1000px;
      display: inline-block;
      position: relative; }
      body .header_container .header #logo {
        z-index: 10;
        left: 0;
        top: 10px;
        display: inline-block;
        position: absolute; }
        body .header_container .header #logo #logo_img {
          height: 60px; }
      body .header_container .header .search {
        z-index: 9;
        display: inline-block;
        position: absolute;
        bottom: 10px;
        margin: 0 auto;
        left: 0;
        right: 0; }
        body .header_container .header .search .text {
          width: 400px;
          padding: 5px;
          box-shadow: none;
          border: 2px solid #fff;
          background: #000;
          color: #fff;
          font-family: "exo", "Arial", sans-serif;
          font-size: 13px;
          line-height: 16px; }
        body .header_container .header .search .submit {
          border: 2px solid #fff;
          width: 80px;
          height: 30px;
          background: #000;
          color: #fff;
          font-family: "exo", "Arial", sans-serif;
          font-size: 13px;
          padding: 5px;
          line-height: 16px; }
      body .header_container .header .order {
        display: inline-block; }
      body .header_container .header #login {
        z-index: 10;
        top: 10px;
        display: inline-block;
        position: absolute;
        right: 0; }
        body .header_container .header #login #login_img {
          height: 60px; }
  body .content_container {
    width: 100%;
    position: absolute;
    top: 80px; }
    body .content_container .content_area {
      width: 1000px;
      margin: 0 auto;
      position: relative; }
      body .content_container .content_area .sidebar_left,
      body .content_container .content_area .sidebar_right {
        padding-top: 10px;
        position: absolute;
        top: 0;
        width: 200px;
        word-wrap: break-word; }
        body .content_container .content_area .sidebar_left .sidebar_headline,
        body .content_container .content_area .sidebar_right .sidebar_headline {
          font-size: 20px; }
        body .content_container .content_area .sidebar_left .list,
        body .content_container .content_area .sidebar_right .list {
          padding-top: 10px; }
          body .content_container .content_area .sidebar_left .list li,
          body .content_container .content_area .sidebar_right .list li {
            padding-bottom: 5px; }
      body .content_container .content_area .sidebar_left {
        left: 0;
        padding-right: 10px; }
      body .content_container .content_area .content_middle {
        border-left: 1px dashed #000;
        border-right: 1px dashed #000;
        width: 600px;
        height: 2000px;
        margin: 0 auto;
        padding: 10px; }
        body .content_container .content_area .content_middle .content_headline {
          display: inline-block;
          font-size: 20px; }
        body .content_container .content_area .content_middle .content_sort {
          float: right;
          display: inline-block; }
          body .content_container .content_area .content_middle .content_sort p {
            display: block; }
          body .content_container .content_area .content_middle .content_sort form {
            display: inline-block; }
            body .content_container .content_area .content_middle .content_sort form .sort_selection {
              display: inline-block;
              vertical-align: bottom; }
              body .content_container .content_area .content_middle .content_sort form .sort_selection:first-child {
                margin-right: 10px; }
              body .content_container .content_area .content_middle .content_sort form .sort_selection .sort_button {
                border: 0;
                background: #000;
                border-radius: 20px;
                height: 16px;
                width: 16px;
                padding: 0;
                line-height: 0; }
                body .content_container .content_area .content_middle .content_sort form .sort_selection .sort_button img {
                  width: 8px;
                  padding: 1px; }
        body .content_container .content_area .content_middle .login, body .content_container .content_area .content_middle .register {
          text-align: center; }
          body .content_container .content_area .content_middle .login .content_headline:after, body .content_container .content_area .content_middle .register .content_headline:after {
            content: ' ';
            display: block;
            border: 1px dashed #464548;
            width: 80px;
            margin: 0 auto;
            margin-top: 10px; }
          body .content_container .content_area .content_middle .login .login_form, body .content_container .content_area .content_middle .login .register_form, body .content_container .content_area .content_middle .register .login_form, body .content_container .content_area .content_middle .register .register_form {
            margin-top: 20px; }
            body .content_container .content_area .content_middle .login .login_form .password, body .content_container .content_area .content_middle .login .login_form .text, body .content_container .content_area .content_middle .login .login_form .submit, body .content_container .content_area .content_middle .login .register_form .password, body .content_container .content_area .content_middle .login .register_form .text, body .content_container .content_area .content_middle .login .register_form .submit, body .content_container .content_area .content_middle .register .login_form .password, body .content_container .content_area .content_middle .register .login_form .text, body .content_container .content_area .content_middle .register .login_form .submit, body .content_container .content_area .content_middle .register .register_form .password, body .content_container .content_area .content_middle .register .register_form .text, body .content_container .content_area .content_middle .register .register_form .submit {
              margin: 0 auto 5px;
              width: 200px;
              display: block;
              padding: 5px;
              box-shadow: none;
              border: 2px solid #000;
              background: #fff;
              color: #000;
              font-family: "exo", "Arial", sans-serif;
              font-size: 13px;
              line-height: 16px; }
            body .content_container .content_area .content_middle .login .login_form .description, body .content_container .content_area .content_middle .login .register_form .description, body .content_container .content_area .content_middle .register .login_form .description, body .content_container .content_area .content_middle .register .register_form .description {
              margin-bottom: 10px; }
          body .content_container .content_area .content_middle .login .login_register, body .content_container .content_area .content_middle .register .login_register {
            padding-top: 10px; }
            body .content_container .content_area .content_middle .login .login_register p a, body .content_container .content_area .content_middle .register .login_register p a {
              text-decoration: none;
              color: #000; }
              body .content_container .content_area .content_middle .login .login_register p a:hover, body .content_container .content_area .content_middle .register .login_register p a:hover {
                color: #fe0400; }
        body .content_container .content_area .content_middle .notice {
          text-align: center;
          border: 1px dashed #000;
          margin: 10px auto 0;
          padding: 5px; }
        body .content_container .content_area .content_middle .notice_top {
          text-align: center;
          border: 1px dashed #000;
          margin: 0px auto 10px;
          padding: 5px; }
      body .content_container .content_area .sidebar_right {
        right: 0;
        padding-left: 10px; }

/*# sourceMappingURL=styles.css.map */
