/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #fdfdfd; }
  body .header_container {
    z-index: 100;
    width: 100%;
    background-color: #000;
    text-align: center;
    position: fixed;
    top: 0; }
    body .header_container .header {
      height: 80px;
      width: 1000px;
      display: inline-block;
      position: relative; }
      body .header_container .header #logo {
        z-index: 10;
        left: 0;
        top: 10px;
        display: inline-block;
        position: absolute; }
        body .header_container .header #logo #logo_img {
          height: 60px; }
      body .header_container .header .search {
        z-index: 9;
        display: inline-block;
        position: absolute;
        bottom: 10px;
        margin: 0 auto;
        left: 0;
        right: 0; }
        body .header_container .header .search .text {
          width: 400px;
          padding: 5px;
          box-shadow: none;
          border: 2px solid #fff;
          line-height: 16px;
          background: #000;
          color: #fff; }
        body .header_container .header .search .submit {
          border: 2px solid white;
          width: 80px;
          height: 30px;
          background: #000;
          color: white; }
      body .header_container .header .order {
        display: inline-block; }
      body .header_container .header #login {
        z-index: 10;
        top: 10px;
        display: inline-block;
        position: absolute;
        right: 0; }
        body .header_container .header #login #login_img {
          height: 60px; }
  body .content_container {
    width: 100%;
    position: absolute;
    top: 80px; }
    body .content_container .content_area {
      width: 1000px;
      margin: 0 auto;
      position: relative; }
      body .content_container .content_area .sidebar_left {
        position: absolute;
        left: 0;
        top: 0;
        width: 200px; }
      body .content_container .content_area .content {
        border-left: 1px dashed #000;
        border-right: 1px dashed #000;
        width: 600px;
        height: 2000px;
        margin: 0 auto; }
      body .content_container .content_area .sidebar_right {
        position: absolute;
        right: 0;
        top: 0;
        width: 200px; }

/*# sourceMappingURL=styles.css.map */
