/*
	Variables
*/

$font: "exo", "Arial", sans-serif;
$color_link: #fe0400;
$color_dark: #000;
$color_bright: #fff;
$content_max_width: 500px;
$distance_top: 40px;

;

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: exo;
	src: url(../fonts/Exo2.0-Light.otf);
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: $color_bright;
	font-family: $font;

	.header_container {
		z-index: 100;
		width: 100%;
		background-color: $color_dark;
		text-align: center;
		position: fixed;
		top: 0;

		.header {
			height: 80px;
			width: 1000px;
			display: inline-block;
			position: relative;

			#logo {
				z-index: 10;
				left: 0;
				top: 10px;
				display: inline-block;
				position: absolute;

				#logo_img {
					height: 60px;
				}
			}

			.search {
				z-index: 9;
				display: inline-block;
				position: absolute;
				bottom: 10px;
				margin: 0 auto;
				left: 0;
				right: 0;

				.text {
					width: 400px;
					padding: 5px;
					box-shadow: none;
					border: 2px solid $color_bright;
					background: $color_dark;
					color: $color_bright;
					font-family: $font;
					font-size: 13px;
					line-height: 16px;
				}

				.submit {
					border: 2px solid $color_bright;
					width: 80px;
					height: 30px;
					background: $color_dark;
					color: $color_bright;
					font-family: $font;
					font-size: 13px;
					padding: 5px;
					line-height: 16px;
				}
			}

			.order {
				display: inline-block;
			}

			#login {
				z-index: 10;
				top: 10px;
				display: inline-block;
				position: absolute;
				right: 0;

				#login_img {
					height: 60px;
				}
			}
		}
	}

	.content_container {
		width: 100%;
		position: absolute;
		top: 80px;

		.content_wrapper {
			width: 1000px;
			margin: 0 auto;
			position: relative;

			.sidebar_left,
			.sidebar_right {
				padding-top: $distance_top;
				position: absolute;
				top: 0;
				width: 200px;
				word-wrap: break-word;

				.sidebar_headline {
					font-size: 20px;
					text-align: center;

					&:after {
						content: ' ';
						display: block;
						border: 1px solid $color_dark;
						width: 80px;
						margin: 10px auto 0;
					}
				}

				.sidebar_list {
					margin-top: 20px;
					text-align: center;

					.sidebar_list_element {
						margin-bottom: -1px;

						a {
							position: relative;
							display: block;
							border: 1px solid $color_dark;
							text-decoration: none;
							overflow: hidden;

							&:hover {
								.title {
									color: $color_bright;
								}
								.cover {
									transform: translate(0px,30px);
									-webkit-transition-duration: 0.2s;
									-moz-transition-duration: 0.2s;
									-o-transition-duration: 0.2s;
									transition-duration: 0.2s;

									-webkit-transition-property: -webkit-transform;
									-moz-transition-property: -moz-transform;
									-o-transition-property: -o-transform;
									transition-property: transform;
								}
							}

							.title {
								line-height: 20px;
								padding: 4px 5px;
								position: inherit;
								transition: color 0.2s ease;
								color: $color_dark;
								z-index: 2;
							}

							.cover {
								position: absolute;
								top: -30px;
								left: 0px;
								width: 100%;
								height: 30px;
								background: $color_dark;
							}
						}
					}
				}

				.user_buttons {
					width: 60px;
					background: $color_bright;
					border: 0;
					padding: 0;
					margin: 0 0 20px 20px;
					text-align: center;

					img {
						width: 100%;
					}

					p {
						margin-top: 5px;
						font-family: $font;
					}
				}
			}

			.sidebar_left {
				left: 0;
				padding-right: 10px;
			}

			.content_middle {
				border-left: 1px dashed $color_dark;
				border-right: 1px dashed $color_dark;
				width: 600px;
				margin: 0 auto;
				padding: $distance_top 20px;
				text-align: center;

				.content_headline {
					display: inline-block;
					font-size: 20px;

					&:after {
						content: ' ';
						display: block;
						border: 1px solid $color_dark;
						width: 80px;
						margin: 10px auto 0;
					}
				}

				.entry_content{
					margin: 20px auto 0;
					width: $content_max_width;
				}

				.content_area {
					margin: 20px auto 0;
					width: $content_max_width;
					zoom: 1; /* For IE 6/7 (trigger hasLayout) */

					&:after,
					&:before {
						content: "";
						display: table;
					}

					&:after {
						clear: both;
					}

					.content_element {
						display: inline-block;
						margin-right: 20px;
						margin-bottom: 20px;
						float: left;

						&:nth-child(4n) {
							margin-right: 0;
						}

						a {
							position: relative;
							display: block;
							border: 1px solid $color_dark;
							width: 110px;
							height: 110px;
							text-decoration: none;
							overflow: hidden;

							.title {
								position: absolute;
								bottom: 5px;
								right: 5px;
								transition: color 0.2s ease;
								color: $color_dark;
								z-index: 2;
							}

							&:hover {
								.title {
									color: $color_bright;
								}
								.cover {
									transform: rotate(-90deg);
									-webkit-transition-duration: 0.4s;
									-moz-transition-duration: 0.4s;
									-o-transition-duration: 0.4s;
									transition-duration: 0.4s;

									-webkit-transition-property: -webkit-transform;
									-moz-transition-property: -moz-transform;
									-o-transition-property: -o-transform;
									transition-property: transform;
								}
							}

							.cover {
								position: absolute;
								bottom: -110px;
								right: 0;
								width: 110px;
								height: 110px;
								background: $color_dark;
								transform-origin: 0% 0%;
							}
						}

					}
				}

				.home {
					position: relative;

					.content_sort_left, .content_sort_right {
						top: 0;

						p {
							display: block;
						}
						form {
							display: inline-block;
							text-align: right;

							.sort_selection {
								display: block;
								vertical-align: bottom;

								.sort_button {
									border: 0;
									background: $color_dark;
									border-radius: 20px;
									height: 16px;
									width: 16px;
									padding: 0;
									line-height: 0;

									img {
										width: 8px;
										padding: 1px;
									}
								}
							}

						}
					}

					.content_sort_left {
						position: absolute;
						left: 0;
					}

					.content_sort_right {
						position: absolute;
						right: 0;
					}

				}

				h3.content_headline {
					padding-top: 20px;
					display: block;
					font-size: 16px;

					&:after {
						margin-top: 0px;
						content: ' ';
						border: 0;
					}
				}

				.content_form {
					margin-top: 20px;

					.password, .text, .submit {
						margin: 0 auto 5px;
						width: 200px;
						display: block;
						padding: 5px;
						box-shadow: none;
						border: 2px solid $color_dark;
						background: $color_bright;
						color: $color_dark;
						font-family: $font;
						font-size: 13px;
						line-height: 16px;
					}

					.description {
						margin-bottom: 10px;
					}
				}

				.login_register {
					padding-top: 10px;

					p {
						a {
							text-decoration: none;
							color: $color_dark;

							&:hover {
								color: $color_link;
							}
						}
					}
				}

				.create_entry, .create_topics, .create_categories {

					.select, .text, .textarea, .submit {
						margin: 0 auto 5px;
						width: $content_max_width;
						display: block;
						padding: 5px;
						box-shadow: none;
						border: 2px solid $color_dark;
						border-radius: 0;
						-webkit-appearance: none;
						background: $color_bright;
						color: $color_dark;
						font-family: $font;
						font-size: 13px;
						line-height: 16px;
					}

					.select, .text {
						display: inline-block;
						width: 248px;
					}

					.textarea {
						resize: none;
						height: 100px;
					}

					.submit {

					}
				}

				.create_categories {
					.submit {
						width: 248px;
					}
				}

				.notice {
					text-align: center;
					border: 1px dashed $color_dark;
					margin: 10px auto 0;
					padding: 5px;
					max-width: $content_max_width;
				}

				.notice_top {
					text-align: center;
					border: 1px dashed $color_dark;
					margin: 0px auto 10px;
					padding: 5px;
					max-width: $content_max_width;
				}
			}

			.sidebar_right {
				right: 0;
				padding-left: 10px;
			}
		}
	}
}